<div class="container">
  <nz-spin [nzSpinning]="isSpinning" [nzSize]="'large'">
    <nz-list [nzDataSource]="data" [nzRenderItem]="item" [nzItemLayout]="'vertical'">
      <ng-template #item let-item>
        <nz-list-item [nzActions]=[ownerAction,languageAction,forkAction,updateAction]>
          <ng-template #ownerAction>
            <a style="color: rgba(0, 0, 0, 0.45);text-decoration: none;" href="{{item.parent ? item.parent.owner.url : item.owner.url}}"  target="view_window">
              <nz-avatar style="margin-right: 10px;" nz-dropdown nzIcon="anticon anticon-user" nzSrc='{{item.parent ? item.parent.owner.avatarUrl : item.owner.avatarUrl}}'></nz-avatar> 
              {{item.parent ? item.parent.owner.login : item.owner.login}}
            </a>
          </ng-template>
          <ng-template #languageAction style="display: none;"><div class="language-color" [style.background-color]="item.primaryLanguage ? item.primaryLanguage.color : ''"></div> {{item.primaryLanguage ? item.primaryLanguage.name : 'none'}} </ng-template>
          <ng-template #forkAction><i class="anticon anticon-fork" style="margin-right: 8px;"></i> {{item.parent ? item.parent.forkCount : item.forkCount}} </ng-template>
          <ng-template #updateAction><i class="anticon anticon-bell" style="margin-right: 8px;"></i> {{item.updatedAt.split('T')[0]}}</ng-template>
          <nz-list-item-meta
            [nzTitle]="nzTitle"
            nzDescription="{{item.description}}">
            <ng-template #nzTitle>
              <a style="text-decoration: none;" href="{{item.url}}" target="view_window">{{item.name}}</a>
            </ng-template>
          </nz-list-item-meta>
        </nz-list-item>
      </ng-template>
    </nz-list>
  </nz-spin>
</div>