/* You can add global styles to this file, and also import other style files */

body {
    margin: 0;
}
.container {
    padding: 0 50px 50px 50px;
}
.ant-spin-container {
    position: relative;
    zoom: 1;
    min-height: 340px;
}